<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ru">
    <title>Интерактивный музей</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>
<div class="container">
    <div class ="row text-right">
        <blockquote>
            Много бед, много испытаний пришлось перенести России за ее больше чем тысячелетнее существование. Печенеги терзали ее, половцы, татары и поляки. Двунадесять языков обрушились на нее, взяли Москву. Все вытерпела, все преодолела Россия, только крепла и росла от испытаний. Но теперь, теперь... Старушка украла старый чайник, стоимостью в 30 копеек. Этого Россия уж, конечно, не выдержит, от этого она погибнет безвозвратно".
        <cite> Адвокат Плевако, Россия, начало XX века</cite>
        </blockquote>
    </div>
    <div class="jumbotron">
        <div class="row">
                <h2 class="text-center">Интерактивный мини-музей</h2>
                <p>Сделано на Весенних ботинках с использованием паттерна Модель-Контроллер-Представление.
                </p>
                <p>
                    Здесь должен был быть большой пафосный текст, но мне стыдно за эту реализацию. Я даже логотипы нигде не разместил.
                </p>
                <p>
                 Конечно же, писать третий раз одно и то же не вызывало у меня ни малейшего удовольствия.
                </p>
        </div>
        <div class="row text-center">
            Спасибо коронавирусу и самоизоляции за появление этого "чуда технической мысли".
        </div>
    </div>
</div>
</body>
</html>